{% extends 'base.html'%} {% block content %}

<div class="row">
	<div id="list_recipe_banner" class="col s12">

		<div class="drecipe">
			<h5>GOOD IDEAS</h5>
			<p class="drecipeP">
				TO MAKE YOUR DAY MORE TASTY</p>
		</div>

	</div>
</div>

<div class="container">

<div id="drecipe" class="row">
	{% for recipe in recipes %}
	<div class="col s12 m4">
		<div id="mid_borda_showrecipe"class="card ">
			<div class="card-image">
				<a href="{{url_for('show_recipe',recipe_id=recipe._id)}}"><img id="mid_borda_showrecipe" src="{{recipe.image_path}}"></a>
			</div>
		</div>
		<div>
			<p id="text_showrecipe">{{recipe.recipe_name}}</p>
			

		</div>

	</div>


	{% endfor %}

</div>

</div>









{% endblock %}